extends baseEmail

block content
  p Hi #{firstName},
  p Forgot your password? No problem! Create a new password from the following link.
  p If you didn't request this, please ignore this email!
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Create new password